# Environment
NODE_ENV=production
PORT=5000
WEB_PORT=3000
API_URL=https://chatbot-m2lx.onrender.com
WEB_URL=https://abhi-ai-platform-psi.vercel.app

# Database (PostgreSQL)
DATABASE_URL="postgresql://postgres:gudu123@localhost:5432/chatbot"

POSTGRES_USER=postgres
POSTGRES_PASSWORD=gudu123
POSTGRES_DB=chatbot
POSTGRES_PORT=5432

# Redis Cache & Sessions
REDIS_HOST=hypergentle-point-sound-82763.db.redis.io
REDIS_PORT=11471
REDIS_PASSWORD=2T2x6skToliQhP8JH5kjrTetGNndJmI8
REDIS_URL="redis://default:2T2x6skToliQhP8JH5kjrTetGNndJmI8@hypergentle-point-sound-82763.db.redis.io:11471"

# JWT Authentication
JWT_ACCESS_SECRET=bcdf9b577c45df8608a04088853783529b09d0a97556b7dd7c8134f265767cef27c17b37e205b84e054df57be9ef00f1741d2e146c7153b4e7fad68ecc59e165
JWT_REFRESH_SECRET=594c25dbe09253cf0acca1f21a709d9f53389e828c3f38632bdcbae1453cf3aeb111eb05edf3f333807cc0790aa0a877c89b749c789ef492a0ce31448cd98448
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

# Cookie Secrets
COOKIE_SECRET=3d63bf02c716588853b43d83e36d48f2deb39cf49aa4d6caad02e3011d096acc709aa3939adc119f76aa440498852e8db2a3f4f027a9810091d7207a59699dde

# Google OAuth
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_CALLBACK_URL="https://chatbot-m2lx.onrender.com/api/v1/auth/google/callback"

# Security & CORS
CORS_ORIGIN="https://abhi-ai-platform-psi.vercel.app"
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100

# AI / Gemini API
GEMINI_API_KEY=your-gemini-api-key

